In [5]:
## del
a = [1, 2, 3, 4, 5]

# deletes elements an index
del a[0]
print(a)

del a[1:2]
print(a)

del a[:]
print(a)

# deleting a variable and so it can not be referenced
del a
print(a)

[2, 3, 4, 5]
[2, 4, 5]
[]

NameError: name 'a' is not defined

In [5]:
## Tuples and sequences
# tuples are immutable objects

a = 123, 245, 'hello!'
for i in range(len(a)):
    a[i] = 567

TypeError: 'tuple' object does not support item assignment

In [25]:
# inside tuples , can have mutable objects
b = ((1,2), (2,3,), (3,4))
d = ([1,2], [2,3], [3,4])

d[0][0] = 9
#b[0][0] = 9


print(d)
#print(b)

([9, 2], [2, 3], [3, 4])

In [27]:
# creating empty tuple and 1 element tuple
h = ()
g = ('hello',)
print(type(g))

<class 'tuple'>

In [28]:
# packing tuple
t = 1, 2, 3
print(t)

# unpacking tuple - works for any sequence on right hand side
x,y,z = t
print(x,y,z)

(1, 2, 3)
1 2 3

In [32]:
p,q,r = range(3)
print(p,q,r)

0 1 2

In [33]:
p,q,r = [1,2,3]
print(p,q,r)

1 2 3

In [34]:
p,q,r = "cat"
print(p,q,r)

c a t

In [40]:
## any sequence like list, tuple etc takes iterable as an argument
tuple(range(1))

(0,)

In [44]:
## sets as a sequence
# created using set or curly braces

# set supports list comprehensions
# elimnate duplicate entries
# can check if a element in there - will   return True or False
# or, xor, and difference operations are supported
a = set()
type(a)

set

In [45]:
## dictionaries
a = {}
type(a)

dict

In [51]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [52]:
>>> tel['jack']

4098

In [53]:
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [55]:
# a list of all the keys in dict
>>> list(tel.keys())
>>> sorted(tel.keys())

['guido', 'irv', 'jack']

In [56]:
>>> 'guido' in tel

True

In [57]:
# passing sequence of pairs to dict
>>> dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [58]:
# using dict comprehension
>>> {x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [59]:
# using keyword arguments to form dictionary object
>>> dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}